@charset "utf-8";

.wrapper {
  width: 400px;
}

.header {
  height: 100px;
  background: #ff0000;
}

.nav {
  padding: 5px;
  float:right;
  margin-right: 20px;
  margin-top: 20px;
  background: #ffffff;  
}

.purple {
  margin: 5px;
  width: 40px;
  height: 40px;
  float: left;
  background: #a9004b; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



.side {
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff51;
}

.content {
  float: left;
  width: 250px;
  background: #8c2727;
}

.orange {
  width: 140px;
  height: 40px;
  background: orange;
  border: solid 5px;
  border-color: white;
  margin-bottom: 10px
}

.flex {
  margin: 40px;
}

.footer {
  height: 100px;
  clear: both;
  background: #ffd000;
}

